.cabecalho__menu-hamburguer{
   
    width: 34px;
    height: 34px;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover ;
    display: inline-block ;
}

    .cabecalho{
         background-color: #ae0000;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
    }

    .caixa{
      display: flex;
         align-items: center;
     }

    .caixa__img {
        padding: 1em;
     }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 60vw;
   
    }
.caixa__botao:checked~.lista-menu{
        display: block;
}


s

